/* ============================= */
/* Flexbos Utilities             */
/* ============================= */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* ============================= */
/* Margin Utilities              */
/* ============================= */

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.5rem;
}

.u-content-limit {
    width: 100%;
    max-width: var(--content-max-width);
    margin-inline: auto;
}


/* ============================= */
/* Padding Utilities             */
/* ============================= */

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}