/* ============================= */
/* Global Design                 */
/* ============================= */

:root {
    --color-background: #262E34;
    --color-primary: #89BCD9;
    --color-primary-transparent: rgba(137, 188, 217, 0.12);
    --color-secondary: #F8F5EC;
    --color-inactive: rgba(38, 46, 52, 0.12);
    --color-error: #E44C36;
    --color-done: #97E163;

    --font-headline: 'Anta', sans-serif;
    --font-body: 'Josefin Sans', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --content-max-width: 1920px;
    --navbar-height: 90px;
}